body {
    margin: 0%;
    padding: 0%;
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
    line-height: 1;
    background-image: url('background.png');
}

header {
    background-image: url('bannerbg.png');
    background-repeat: repeat-x;
}

header>img {
    width: 100%;
}

h1 {
    font-size: 24pt;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#content {
    width: 800px;
    border: 4px gray solid;
    border-radius: 20px;
    margin: auto;
    background-color: #A2B964;
}

#left_content {
    float: left;
    width: 550px;
    background-image: url('background.png');
    overflow: auto;
}

#left_header {
    background-image: url('rbg.png');
    background-repeat: repeat-x;
}

#percent {
    color: red;
    font-size: 48pt;
    font-weight: 600;
    vertical-align: top;
    margin-top: 50px;
}

#movie_title {
    text-shadow: 2px 3px;
}

.review {
    display: inline-block;
    width: 47%;
    margin-right: 2%;
    margin-bottom: 20pt;
}

.break {
    clear: left;
}

h1 {
    width: 15%;
    margin: auto;
    padding: 2%;
}

.rotten_icon {
    float: left;
    margin-right: 5px;
}

.review_text {
    border: solid gray 2px;
    border-radius: 10px;
    background-color: #E8DC9B;
    padding: 8px;
}

.person_icon {
    float: left;
}

#right_content {
    display: inline-block;
    width: 250px;
    /* background-color: #A2B964; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
}

#right_content>img {
    border-top-right-radius: 20px;
}

dl>dt {
    font-weight: bold;
    margin-top: 4pt;
}

dl {
    padding-left: 3pt;
}

dl>dd {
    padding: 3px;
}

#page_number {
    width: 15%;
    margin: auto;
}

#validators {
    width: 15%;
    position: relative;
    margin-right: auto;

}

#validators>a {
    display: block;
    text-align: right;
}